.pagination {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;

  span,
  button {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    min-width: 60px;
    padding: 12px;
    border-radius: 8px;
    background-color: lightgray;
    transition: background-color .25s;
  }

  button {
    &:hover {
      cursor: pointer;
      background-color: #722a37;
      color: #fff;
    }

    &:disabled:hover,
    &:disabled {
      opacity: .45;
      color: #000;
      background-color: lightgray;
      cursor: not-allowed;
    }
  }
}